#button-main{
    display: flex;
    width: 126px;
    height: 38px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px var(--text-color);
    color: var(--text-color);
}

#button-main:hover{
    transition: 300ms all;
    background-color: var(--text-color);
    color: var(--background-color);
}

/* #button-icon{
    width: 25px;
    height: 25px;
} */

#button-name{
    font-size: 18px;
    font-weight: 700;
}