#custom-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
}

#custom-input{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.custom-update{
    background-color: #ddd;
}