#footer-main{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#footer-lofi{
    padding: 10px;
}

#footer-github{
    display: flex;
    color: darkgrey;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    width: 100px;
}

#footer-p{
    margin-right: 5px;
}

#footer-icon{
    width: 18px;
    height: 18px;
}

#footer-link{
    text-decoration: none;
    color: darkgrey;
}

#footer-link:hover{
    color: rgb(130, 130, 130);
}