#header-main{
    display: flex;
    align-items: center;
    padding: 8px;
    justify-content: space-between;
}

#header-icon{
    width: 30px;
    height: 30px;
    margin-right: 6px;
}

#header-title{
    font-size: 25px;
}

#header-info{
    display: flex;
    align-items: center;
}

#header-theme{
    display: flex;
}