#login-main {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 8px;
    align-items: center;
}

#login-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 250px;
}

#register-container {
    display: flex;
    align-items: center;
}

#register-form {

}