#timer-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    flex: 1;
}

#timer-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#timer-count{
    font-size: 72px;
    padding: 6px 0;
}

#timer-workTime{
    font-weight: 700;
    padding: 0 0 12px 0;
}

#timer-btn-play,
#timer-btn-set{
    display: flex;
    justify-content: center;
    padding: 4px 0;
}

#timer-btn-play Button,
#timer-btn-set Button{
    margin: 8px 12px;
}

@media (max-width: 768px) {
    #timer-btn-play, #timer-btn-set {
        flex-direction: column;
    }
}