#footer-main{
    display: flex;
    color: darkgrey;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

#footer-p{
    margin-right: 5px;
}

#footer-icon{
    width: 18px;
    height: 18px;
}

#footer-link{
    text-decoration: none;
    color: darkgrey;
}

#footer-link:hover{
    color: black;
}